{{> partials/header title ="Portfolio lucas Heintz" page="home"}}

<h1 class="landing-title"><span>Developpeur<br>
    <object id="web-s" data="./assets/img/web-s.svg" type="image/svg+xml"></object>
    <object id="web-m" data="./assets/img/web-m.svg" type="image/svg+xml"></object>
    <object id="web-l" data="./assets/img/web-l.svg" type="image/svg+xml"></object>
</span></h1>

<section id="projets" class="container">
    <h2>Réalisations</h2>
    <ol class="projets-list">
        {{#each projets}}
            <li class="projets-item">
                <div class="flex">
                    <p><a href="" id="{{slug}}">{{nom}}</a></p>
                    <ul class="tags">
                        {{#each tags}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        {{/each}}
    </ol>
</section>

<section id="envt">
    <div class="container">
        <h2>Technologies</h2>
    </div>
    <div class="container-fluid">
    {{#each tech}}
        <div class="group-tech">
            <div class="row row-tech" id="{{nom}}">
                {{#each items}}
                    <div class="col-{{../col}} col-xl tech">
                        <img src="assets/img/{{this}}.png" alt="{{this}}">
                    </div>
                {{/each}}
            </div>
            <div class="row tech-nom"><p>{{nom}}</p></div>
        </div>
    {{/each}}
    </div>
    <h3>En cours / Prochainement</h3>
    
    <div class="container">
        <div class="row row-tech next">
            <div class="col-12 col-sm tech"><img src="assets/img/react.png" alt="react"></div>
            <div class="col-12 col-sm tech"><img src="assets/img/nodejs.png" alt="nodejs"></div>
        </div>
    </div>
</section>

<section id="experiences" class="container">
    <div class="container">
        <h2>Expérience</h2>
    </div>

    {{#each experiences}}

    <div class="row experience">
        <div class="col-12 col-xl-6 order-2 order-xl-1 entreprise">
            <img src="assets/img/{{src}}" alt="{{entreprise}}">
        </div>
        <div class="col-12 col-xl-6 order-1 order-xl-2">
            <h3>{{titre}}</h3>
            {{#each missions}}

                <h4>{{titre}}</h4>
                <ul class="competences">
                    {{#each compétences}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>

            {{/each}}
        </div>
    </div>

    {{/each}}
</section>




{{> partials/footer script ="app.bundle.js"}}
